simple_detection_system/weights/*.h5 filter=lfs diff=lfs merge=lfs -text
simple_detection_system/weights/*.pt filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
